@import url('https://fonts.googleapis.com/css?family=Oxanium:300&display=swap');
body {
    padding: 50px;
    background-color: beige;
}

h1 {
    color: brown;
}

#foto_cara_index {
    width: 150px;
}

img.cat_photo {
    width: 150px;
}

h1.fnt-red {
    color: red;
}

.fnt-blue {
    color: blue;
}

#nombre_alumno {
    color: red;
    text-decoration: underline;
}

.titulo {
    color: cyan;
    font-size: 30px;
    font-style: italic;
}

.texto {
    color: darkblue;
    font-size: 15px;
}

.destacado {
    font-style: italic;
    font-weight: bold;
}

div.coche {
    position: relative;
    width: 300px;
    background-color: rgb(161, 195, 216);
    border-radius: 15px;
    padding: 5px;
}

img.foto_coche {
    width: 300px;
    border-radius: 12px;
    max-height: 150px;
}

.info_coche {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
}

.precio {
    font-size: 25px;
    font-weight: bold;
}

.modelo {
    font-size: 18px;
    padding: 3px;
}

.descripcion {
    font-size: 14px;
    padding: 3px;
}

.icono {
    display: inline-block;
    width: 49%;
    text-align: center;
}

.fa-heart-o {
    font-size: 36px;
    color: lightcoral;
}

.fa-commenting-o {
    font-size: 36px;
    color: rgb(61, 206, 61);
}

.fa-user-circle-o {
    font-size: 35px;
}

.icono_imagen {
    position: absolute;
    top: 15px;
    right: 15px;
}

.coche {
    display: inline-block;
}

.menu {
    background-color: blue;
    color: beige;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
}

.footer {
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    background-color: red;
    color: beige;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
}

.container_4b {
    background-color: brown;
    width: 50%;
    height: 50%;
    position: fixed;
    left: 25%;
    top: 25%;
}

.bolas {
    border-radius: 50px;
    border: 3px solid brown;
    background-color: beige;
    position: absolute;
    width: 100px;
    height: 100px;
}

.top-right {
    top: -50px;
    right: -50px;
    z-index: 1;
}

.top-left {
    top: -50px;
    left: -50px;
    z-index: 1;
}

.bot-right {
    bottom: -50px;
    right: -50px;
    z-index: 1;
}

.bot-left {
    bottom: -50px;
    left: -50px;
    z-index: 1;
}

.ex3 {
    width: 30%;
    height: 30%;
    position: fixed;
    top: 35%;
    left: 35%;
    background-color: whitesmoke;
    z-index: 2;
    border-radius: 30px;
}

.ex3_inside {
    background-color: turquoise;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    border-radius: 0px 30px 30px 0px;
}

.ex3_text {
    position: absolute;
    width: 70%;
    height: 100%;
    padding-left: 15%;
    font-family: 'Oxanium', cursive;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.container_5 {
    width: 215px;
    height: 215px;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    top: auto;
    left: auto;
}

.big {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    top: 0;
    left: 0;
}

.icono_5 {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blanco {
    color: white;
}

.top_r_icono {
    background-color: red;
    font-size: 70px;
}

.top_l_icono {
    background-color: blue;
    font-size: 70px;
}

.bot_r_icono {
    background-color: green;
    font-size: 70px;
}

.bot_l_icono {
    background-color: violet;
    font-size: 70px;
}

h2.listas {
    color: black;
}

div.tablas {
    width: 70%;
    position: absolute;
    right: 10%;
}

table.detalle {
    width: 100%;
    border-bottom: 2px solid cornflowerblue;
}

table.detalle th {
    background-color: cornflowerblue;
    font-weight: normal;
    font-size: 15px;
    color: black;
}

table.detalle tr {
    color: blue;
    font-size: 13px;
}

table.detalle th.concepto {
    width: 45%;
    text-align: left;
}

table.detalle th.cantidad {
    width: 20%;
}

table.detalle td.imponible {
    text-align: right;
}

table.detalle th.imponible {
    width: 15%;
}

table.detalle th.iva {
    width: 30%;
    text-align: right;
}

table.detalle td.iva {
    text-align: right;
}

table.resumen {
    font-size: 14px;
    color: blue;
    text-align: right;
    position: absolute;
    right: 0;
    border-bottom: 3px solid cornflowerblue;
    width: 100%;
}

table.resumen tr.total {
    font-weight: bold;
}

table.resumen td.item {
    width: 80%;
}

div.campo {
    display: grid;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.campo div.fila {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.campo div.fila div {
    width: 50px;
    height: 50px;
    background-color: gray;
    display: inline-block;
    color: gray;
    font-size: 40px;
    margin: 5px 5px 5px 5px;
}

div.campo div.fila div:hover {
    background-color: rgb(75, 231, 75);
    color: rgb(75, 231, 75);
}

div.campo div.fila div.mina:hover {
    background-color: rgb(235, 59, 59);
    color: black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

body.mquery {
    background-color: red;
}

h1.text-800 {
    display: block;
}

h1.text-799 {
    display: none;
}

.mqtitle {
    text-align: center;
    color: white;
}

h1.text-black {
    color: black;
}

@media only screen and (max-width: 799px) {
    body.mquery {
        background-color: green;
    }
    h1.text-799 {
        display: block;
    }
    h1.text-800 {
        display: none;
    }
}

h1.btitle {
    text-align: center;
    color: black;
}

div.caja-verde {
    margin-top: 10px;
    width: 100%;
    background-color: green;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    color: white;
    text-align: center;
}

div.caja-roja {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: red;
    font-size: 30px;
    color: white;
    text-align: center;
}

div.icono {
    font-size: 30px;
    text-align: center;
    width: 100%;
}